/* App.css */
.App {
  text-align: center;
  background-color: #f0f8ff; /* Light blue background */
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #073e62;
; /* Dark blue */
  color: white;
  font-size: 2.5em;
  display:flex;
  align-items:center;
  justify-content:space-around;
  font-weight:bold;
}

/* App.css */

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.App-header h3 {
  animation: bounce 1.5s ease-in-out infinite;
}


.App-header img
{
   margin-right:0%;
   width:12%;
}

.App-body {
  margin: 30px auto;
  padding: 20px;
  background-color: #fdfd96; /* Light yellow background */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

input {
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  outline: none;
}

input:focus {
  border-color: #2874A6;
}

button {
  padding: 10px 20px;
  background-color: #2874A6;
  color: white;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21618C;
}

.response {
  margin-top: 20px;
  padding: 15px;
  background-color: #e0ffff; /* Pale turquoise */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
